@charset "UTF-8";
 
* {
    color: aliceblue;
    font-size: 1.2vw;
}

html {
    background-color: gray;
    padding: 1%;
}

body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
}

#type-section {
    width: 60%;
    height: 100%;
}

#icon-alura {
    width: 10%;
    height: auto;
    padding: 1%;
}

#icon-alura img {
    width: 50%;
    margin: 10%;
}


#result-section {
    width: 30%;
    background-color: black;
}

fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#textarea-div {
    margin-top: 10%;
    height: 50%;
}

textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}



#buttons-div {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#buttons-div p {
    margin-bottom: 5%;
}

#buttons-div button {
    color: darkblue;
    background-color: gainsboro;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border-color: darkblue;
}

#buttons-div div button {
    background-color: darkblue;
    color: aliceblue;
}